<%- include partials/header %>
<%- include partials/nav %>

<div class="media">
  <div class="media-left">
    <img class="media-object" src="images/headshot.jpg" height="240px" width="240px" />
  </div>
  <div class="media-body">
    <h4>Peronality</h4>
    <p>
      things are going great, just learning a few more things before I hit the job market hard
    </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <h4>Free time as an Instructor</h4>
    <p>
      Muay thai is amazing.
    </p>
  </div>
  <div class="media-right">
    <img class="media-object" src="images/training.jpg" height="240px" width="400px"/>
  </div>
</div>

<div class="media">
  <div class="media-left">
    <img class="media-object" src="images/demo.jpg" height="240px" width="240px" />
  </div>
  <div class="media-body">
    <h4>Cultural Events</h4>
    <p>
      In addition to just training, we also do demos at various cultural events.
    </p>
  </div>
</div>
<%- include partials/footer %>
