<%- include partials/header %>
<%- include partials/nav %>

<div class="jumbotron" style="background-size:100%; background-image: url(/images/background-landing.jpg); height:700px; background-repeat: no-repeat">
  <background-img src=
  <h1>Hello, World</h1>
  <h4>welcome to my site</h4>
</div>

<%- include partials/footer %>
