<%- include partials/header %>
<%- include partials/nav %>

<center>
  <div class="media ">
    <img class="media-object" src="images/resume.jpg" width="750">
  </div>
</center>

<a href="/images/resume.jpg" download> Get Your Copy! </a>

<%- include partials/footer %>
